{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block link_css %}<link rel="stylesheet" href="{% static "user_static/css/registration.css" %}" />{% endblock %}

{% block title %} Страница Регистрации {% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
        <div class="form-container">
            <h3 class="title">Регистрация</h3>
            <span class="description">Добро пожаловать на страницу регистрации</span>
            <span class="description">Заполните форму регистрации ниже:</span>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password1 }}
               </div>
                <div class="form-group">
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn signup">Регистрация</button>
                <a class="btn signin" href="{% url 'user_authorization' %}">Войти</a>
            </form>
        </div>
    </div>

</div>

{% endblock %}
