<!--{% extends 'base.html' %}-->
<!--{% load static %}-->

<!--{% block link_css %}<link rel="stylesheet" href="{% static "css/location_static/css/insert_error.css" %}">{% endblock %}-->

<!--{% block title %} Ошибка {% endblock %}-->

<!--{% block body %}-->
<!--     <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-12 d-flex justify-content-end">-->
<!--                {% if request.user.is_authenticated %}-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn btn-outline-primary" href="/"> На главную </a>-->
<!--                    </div>-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn btn-dark" href="/locations/user/">-->
<!--                            {{ request.user.username }}-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn btn-outline-danger" href="/logout/"> Выйти </a>-->
<!--                    </div>-->
<!--                {% else %}-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn-outline-primary" href="/"> На главную </a>-->
<!--                    </div>-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn btn-outline-primary" href="/users/login/"> Войти </a>-->
<!--                    </div>-->
<!--                    <div class="btn btn-default">-->
<!--                        <a class="btn btn-outline-dark" href="/users/registration/"> Регистрация </a>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    {{ errors }}-->
<!--{% endblock %}-->
