{% extends 'base.html' %}
{% load static %}

{% block link_css %}<link rel="stylesheet" href="{% static "css/index.css" %}">{% endblock %}
{% block title %} Главная страница {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                {% if request.user.is_authenticated %}
                    <div class="btn btn-default">
                        <a class="btn btn-dark" href="{% url 'user_locations' %}">
                            {{ request.user.username }}
                        </a>
                    </div>
                    <div class="btn btn-default">
                        <a class="btn btn-outline-danger" href="{% url 'logout' %}"> Выйти </a>
                    </div>
                {% else %}
                    <div class="btn btn-default">
                        <a class="btn btn-outline-primary" href="{% url 'user_authorization' %}"> Войти </a>
                    </div>
                    <div class="btn btn-default">
                        <a class="btn btn-outline-dark" href="{% url 'user_registration' %}"> Регистрация </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="post" class="row g-3 justify-content-center">
            {% csrf_token %}
            <div class="col-auto">
                {{ forms_search.non_field_errors }}
                {{ forms_search }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Найти</button>
            </div>
        </form>
    </div>

    {% if list_object %}
        <div class="container d-flex align-content-start flex-wrap">
            {% for object in list_object %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ object.name_city }} {{ object.country_code }} </h5>
                        <p class="card-text"> Широта: {{ object.lat }} </p>
                        <p class="card-text"> Долгота: {{ object.lon }} </p>
                        {% if user.is_authenticated %}
                            <form method="post"action="{% url 'viewer_add' %}">
                                {% csrf_token %}
                                <input type="hidden" id="name_city" name="name_city" value="{{ object.name_city }}">
                                <input type="hidden" id="user_name" name="user_name" value="{{ user.username }}">
                                <input type="hidden" id="lat" name="lat" value="{{ object.lat }}">
                                <input type="hidden" id="lon" name="lon" value="{{ object.lon }}">
                                <button type="submit" class="btn btn-primary"> Добавить в отслеживаемые </button>
                            </form>
                        {% else %}
                            <button type="submit" class="btn btn-primary disabled">
                                Войдите в свою учетную запись для добавления в отслеживаемые
                            </button>
                        {% endif %}
                  </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container d-flex justify-content-center flex-wrap">
            Введите город для поиска
        </div>
    {% endif %}

{% endblock %}
